@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-gutter: stable;
}
::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color:#285570;
    border-radius: 5px;
}
